body{
	font-family:Open Sans;
}

.main-body {
    margin-top: 20px;
    border-right: solid 1px #e0e0e0;
}

.main-body {
    margin-top: 76px;
}

.side-bar {
    margin-top: 56px;
}


.input-group-addon {
    background-color: #fff;
    border: 0px;
    width: 20px;
}

.searchBox {
    height: 36px;
    border-radius: 100px;
    border: solid 1px #50009f;
    border-left: 0px;
    padding-left: 0px;
}



.logos {
    width: 181px;
    height: 40px;
}

.navbar-brand {
    padding: 0px;
    padding-left: 16px;
    margin-top: 9px;
}

.navbar {
    margin-bottom: 0px;
    font-family: Open Sans;
    height: 56px;
    background-color: #ffffff;
}

.navbar-form {
    padding: 0px;
}

.navbar-default .navbar-nav > li > a {
    line-height: 1.5;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 14px;
}


.logo {
    width: 181px;
    height: 40px;
    margin-right: 110px;
}

.search-icon {
    height: 36px;
    padding: 0px 5px 0px 16px;
    border-radius: 100px;
    border: solid 1px #50009f;
    text-align: inherit;
    line-height: normal;
}


.input-group {
    width: 318px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.twitter {
    width: 32px;
    height: 24.4px;
}

.nav-seprator {
    border: solid 1px #e0e0e0;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.navbar-nav li {
    position: relative
}

    .navbar-nav li:not(:last-child):after {
        content: '';
        position: absolute;
        right: -2px;
        width: 1px;
        height: 60%;
        top: 20%;
        background: #e7e7e7
    }

.footer {
    height: 80px;
    background-image: linear-gradient(95deg, #5300a4, #d025e2);
}

.album-cover {
    width: 48px;
    height: 48px;
	cursor:pointer;

}

.song-title {
    width: 310px;
    height: 22px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
	color: #ffffff;
}

.footer .album-cover {

    margin-left:10px;

}



.song-timeline {
    width: 300px;
    height: 3px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
	cursor: pointer;
}

.timeline {
    height: 3px;
    border-radius: 8px;
    display: inline-block;
    background-color: white;
    float: left;
}

.timeline_big {
    height: 2px;
    display: inline-block;
    background-image: linear-gradient(to left, #d325e5, #d325e5);
    position: inherit;
}


.song-timeline_big {
    width: 100%;
    height: 2px;
    display: inline-block;
    position: absolute;
}

.volume-line {
    width: 80px;
    height: 3px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    margin-left: 10px;
    vertical-align: middle;
	cursor:pointer;
}
.track_volume {
    height: 3px;
    border-radius: 8px;
    background-color: #ffffff;
    display:inline-block;
    float:left;
}
.volume_visible {
     display:inline-block;

}

.song-timer {
    width: 77px;
    height: 20px;
    font-family: Open Sans;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

    .song-timer .total-time {
        color: #ffffff;
    }

.song-info .song-title {
    font-family: Open Sans;
    font-size: 16px;
    color: #212121;
    font-weight: normal;
}

.footer .song-title {
    display: inline-block;
    margin-bottom: -4px;
    white-space: nowrap;
}
.headline {
    width: 837px;
    height: 36px;
    font-family: Open Sans;
    font-size: 24px;
    line-height: 1.5;
    color: #616161;
    margin: 0px;
}

.headline-area {
    margin-bottom: 10px;
}

.playlist-title {
    height: 36px;
    font-family: Open Sans;
    font-size: 24px;
    line-height: 1.5;
    color: #616161;
}

.genre {
    height: 32px;
    border-radius: 100px;
    border: solid 1px #50009f;
    font-family: Open Sans;
    font-size: 16px;
    padding: 5px 13px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected-genre {
    font-weight: bold;
    color: #ffffff;
    background-image: url(../Images/tick.svg), linear-gradient(110deg, #5300a4, #d025e2);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 92%;
    padding-right: 30px;
}


.playlist_button {
    height: 32px;
    border-radius: 100px;
    border: solid 1px #50009f;
    font-family: Open Sans;
    font-size: 16px;
    padding: 5px 13px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.added_playlist {
    font-weight: bold;
    color: #ffffff;
    background-image: url(../Images/tick.svg), linear-gradient(110deg, #5300a4, #d025e2);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 92%;
    padding-right: 30px;
}

.genreList {
    margin: 21px 0px;
}

.genre-image {
    margin-left: 6px;
    margin-bottom: 5px;
}

.information {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #e0e0e0;
    margin-right: 15px;
}

.trackList-status {
    width: 203px;
    height: 22px;
    font-family: Open Sans;
    font-size: 16px;
    color: #e0e0e0;
    font-weight: normal;
    padding-left: 10px;
}

.play-count {
    text-align: right;
	color: #b8b8b8;
}

.song {
    padding-top: 12px;
    padding-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
	margin-right:15px;
}

.song-number {
    padding-right: 0px;
    width: 25px;
	margin-top: 12px;
	color: #b8b8b8;
}

.playlist-info {
    font-weight: normal;
    color: #9e9e9e;
}



.add-playlist {
    text-align: right;
    padding: 0px;
    max-width: 152px;
    margin-top: 9px;
}

    .add-playlist .genre {
        width: 135px;
    }

    .add-playlist .selected-genre {
        width: 100px;
    }



.controlls img {
    margin-left: 15px;
	cursor: pointer;

}

.song .play-count {
    text-align: right;
    padding: 0px;
    margin-top: 15px;
    max-width: 145px;
}

.shuffle-big {
    margin-top: 20px;
    width: 343px;
    height: 32px;
    border-radius: 100px;
    background-image: linear-gradient(99deg, #5300a4, #d025e2);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.playlist-songs {
    padding-top: 16px;
    height: 205px;
    overflow-y: scroll;
    width: 360px;
}


    .playlist-songs .song-info {
        border-top: solid 1px #e0e0e0;
        height: 110px;
        padding-top: 16px;
    }

        .playlist-songs .song-info .song-title {
            margin-left: 0px;
        }

.playlist-songs .song-info .album-covers {
    margin-right: 10px;
	cursor: pointer;
 }

.info {
        width: 247px;
}

.song-duration {
     float: right;
    margin-right: -75px;
    margin-top: -25px
}

.stats {
    padding-top: 5px;
}

    .stats .genre {
        float: right;
        margin-right: 10px;
    }

.subscribe {
    margin-top: 10px;
    height: 168px;
    background-image: linear-gradient(129deg, #5300a4, #d025e2);
    width: 360px;
}

    .subscribe .title {
        padding-top: 10px;
        padding-left: 15px;
        width: 262px;
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
    }

.email {
    margin-top: 18px;
    height: 36px;
    border-radius: 100px;
    background-image: linear-gradient(99deg, #5300a4, #d025e2);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    padding-left: 12px;
    color: #ffffff;
    margin-bottom: 15px;
    width: 300px;
}

.submit {
    padding-left: 12px;
    margin-left: 30px;
    width: 208px;
    height: 36px;
    opacity: 0.6;
    border-radius: 100px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #ffffff;
    background-image: linear-gradient(109deg, #5300a4, #d025e2);
    width: 300px;
}

.genre-image {
    display: none;
}

.trackList {
    margin-bottom: 90px;
}

.affix {
    width: 23%;
}

.search_result {
    display: none;
}
.navbar-header .back_to_main {
    margin-top: 9px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.back_to_main {
    display: none;
    width: 155px;
    height: 36px;
    border-radius: 100px;
    border: solid 1px #50009f;
    margin-bottom: 90px;
    font-family: Open Sans;
    font-size: 16px;
    color: #50009f;
    text-align: center;
    vertical-align: central;
    padding-top: 6px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin-top: 20px;
}
.back_to_main:hover{
	border: solid 1px #D325E5;	
	color:#D325E5;
	
}

.about {
    margin-top :17px;
    margin-bottom:16px;
    height: 530px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.23);
    padding-left: 24px;
    width: 359px;
    padding-right: 5px;

}

.about_image {
	width: 180px;
    height: 180px;
    background-image: linear-gradient(145deg, #5300a4, #d025e2);
    margin-left: 50px;
    border-radius: 100px;
	    margin-bottom: 15px;
}
.about_title{
  width: 70px;
  height: 36px;
  font-family: Open Sans;
  font-size: 24px;
  line-height: 1.5;
  color: #616161;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
    
}
.about_header{
    padding-top: 17px;
    padding-bottom: 10px;
}
.about_footer .left{
  height: 48px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #616161;
  float: left;
 width: 178px;
    
}
.about_footer .right{
    float: right;   
}

.clipboard-button{
  width: 130px;
  height: 32px;
  border-radius: 100px;
  border: solid 1px #50009f;
    padding: 5px 13px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.about-button-selected{
    font-weight: bold;
    color: #ffffff !important;
    border-radius: 106px;
    background-image: linear-gradient(99deg, #5300a4, #d025e2);
    padding-right: 30px;
    width: 80px;
    font-family: Open Sans;
    font-size: 17px;
    text-align: center;
	margin-top: 10px ;
	padding-left:4px !important;
	padding-right:4px !important;
	padding-top:4px !important;
	padding-bottom:3px !important;
	margin-bottom:14px;
	
}

.about-button-selected:Hove{
border: solid 1px #50009f;	
	
}

    
.about-button{
	cursor: pointer;
	text-align: center;
	width: 80px;
	    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.privacy-button{
	cursor: pointer;
	text-align: center;
	width:170px;
	    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.privacy-button-selected:Hove{
border: solid 1px #50009f;	
	
}

.privacy-button-selected{
	font-weight: bold;
	color: #ffffff !important;
	border-radius: 100px;
    background-image: linear-gradient(99deg, #5300a4, #d025e2);
    font-family: Open Sans;
	width:170px;
    font-size: 17px;
	text-align: center;
	margin-top: 10px ;
	padding-left:4px !important;
	padding-right:4px !important;
	padding-top:4px !important;
	padding-bottom:3px !important;
	
	
}

.genre:hover{
	border: solid 1px #D325E5;
	color:#D325E5;
}
.song:hover{
	    background-color: #f5f5f5;
}
.selected-song{
	
	  background-color: #f5f5f5;
}
.privacy_header{
	    padding-top: 19px;
    padding-bottom: 10px;
}
.privacy{
	
	margin-top: 17px;
    margin-bottom: 16px;
    height: 490px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.23);
    padding-left: 24px;
    width: 359px;
    padding-right: 5px;
	
}
.privacy_title{
	
	    width: 70px;
    height: 36px;
    font-family: Open Sans;
    font-size: 24px;
    line-height: 1.5;
    color: #616161;
    padding-left: 50px;
    padding-right: 15px;
    vertical-align: middle;
}
.privacy_image{
	    margin-left: 60px;
    margin-bottom: 20px;
	
}
.privacy_text{
	 color:#9e9e9e;	
	  margin-bottom: 20px;
}
.about_text{
	color:#9e9e9e;	
	   
}
.privacy-link-button{
	width: 223px;
    height: 32px;
    border-radius: 100px;
    border: solid 1px #50009f;
    padding: 5px 13px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.privacy-link-button:hover{
	border: solid 1px #D325E5;
	color:#D325E5;
}

a.privacy-link-button{
	text-decoration:none;
	 color:#50009f;	
}
    
.about_footer a.privacy-link-button:hover{
	border: solid 1px #D325E5;
	color:#D325E5;
}
.clipboard-button:hover{
	border: solid 1px #D325E5;
    color:#D325E5;	
}

.privacy_footer .left{
  height: 48px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #616161;
  float: left;
 width: 178px;
 margin-top: 20px;
    
}
.playlist-count{
	font-weight:bold;
}
.playlist-time{
	font-weight:bold;
}
.random_song,.next_song,.play_song,.prev_song,.volume{
	box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
}
.navbar.navbar-default.navbar-fixed-bottom.footer {
    border: 0px;
}
.navbar-text .album-cover{
	box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
}
.shuffle-big .random_song {
	
	box-shadow: none;
}
.searchBox{
	
	box-shadow:none;
}

*::-webkit-input-placeholder {
    color:  #9E9E9E ;
}
*:-moz-placeholder {
    color:  #9E9E9E ;
}
*::-moz-placeholder {
    color:  #9E9E9E ;
}
*:-ms-input-placeholder {
    color:  #9E9E9E ;
}
input:focus::-ms-input-placeholder { color:  #212121 ; }
input:focus::-moz-placeholder { color:  #212121 ; }
input:focus:-moz-placeholder { color:  #212121 ; }
input:focus::-webkit-input-placeholder { color:  #212121 ; }

.email::-webkit-input-placeholder {
    color:  #FFF ;
}
.email:-moz-placeholder {
    color:  #FFF ;
}
.email::-moz-placeholder {
    color:  #FFF ;
}
.email:-ms-input-placeholder {
    color:  #FFF ;
}